html{
    scroll-behavior: smooth;
}

body{
    text-align: center
}

#title{
background-color: #ff4c68;


}
h1{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    
}
.ml-20px{
    margin-left: 20%;
width: 60%;
}
.title-text{
    text-align: left
}
#title .container-fluid{
    padding: 3% 5% 7%;
}
/* Nav Bar */
.navbar{
    padding: 0 0 4.5rem 0;
}
.navbar-brand{
    font-size: 3.5rem;

    font-weight: bold;
}
.nav-item{
padding: 0 18px;
font-size: 1.2rem;
}
/* button */
.button-download{
    margin: 5% 3% 5% 0 ;
}
/* Img */
.title-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
}
.container-fluid{
    padding: 3% 5% 15%;
}
/* feature box */

#features{
    background-color: #fff;
    position: relative;
    padding: 4%;

}

.row-1{
    
    padding: 4% 4% 0 10%; 
margin-top: 30px;

}
/* Icon */
.icon{
    color: #ef8172;
    margin-bottom: 3%;
}
.icon:hover{
    color: #ff4c68;
}
/* testimonials */
#testimonials{
background-color: #ff4c68;
padding: 7% 15% 0;
text-align: center;
color: #fff;

}
.testimonials-img{
    margin: 6%;
    width: 10%;
    border-radius: 100%;
}
#press{
background-color: #ff4c68;
text-align: center;
padding-bottom: 50px;
}
.press-logo{
    width: 15%;
    

}
/* pricing */
#pricing{
padding: 5% 4%;
text-align: center;
}
.pricing-row{
    margin-top: 3%;
}
.pricing-title{
font-weight: bold;
}
#cta{
    background-color: #ff4c68;
    color:#fff;
    padding: 7% 15%;
    font-size: 8.5rem;
    font-weight: bold;
   

}
#footer{
    padding: 7% 15%;
    
   
}
.social-icon{
    margin: 5px;
}

/* reponsive */
@media (max-width:1024px ){
.title-img{
    position: static;
    transform: rotate(0);

}
#title{
 text-align: center;   
}
}